h1 {
    background-color: #dee97cfa;
}

body {
    background-image: url("img_tree.png");
    background-position: right top;
    background-color: #dee97cfa;
}

button {
    background-color: #dee97cfa;
    padding: 50pxsolid
}

textarea {
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    background-color:white;
}

#output {
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    background-image: url("img tree.png");
    background-position: right top;
}

p {
    background-color: #dee97cfa;
    padding: 20px solid;
}

style {
    background-color: #dee97cfa;
    padding: 20px solid
}
